extends layouts/main
include mixins/videoBlock

block content
    .user-profile
        .user-profile__header
            img.u-avatar(src=`/${user.avatarUrl}`)
            h4.profile__username=user.name
        if user.id === loggedUser.id
            .user-profile__bts
                a(href=`/users${routes.editProfile}`)
                    button ✒️  Edit Profile
                a(href=`/users${routes.changePassword}`)
                    button 🔏  Change Password
        .home-videos
            each item in user.videos
                +videoBlock({
                    id: item.id,
                    title: item.title,
                    videofile: item.fileUrl,
                    views: item.views
                })