mixin videoPlayer(video={})
    .videoPlayer
        video(src=video.src)
        .videoPlayer__controls
            .videoPlayer__column
                span
                    <i class="fas fa-volume-up"></i>
            .videoPlayer__column
            .videoPlayer__column