.social-login
    button.social-login--github
        a(href=routes.github)
            span
                <i class="fab fa-github"></i>
            |Continue With Github
    button.social-login--instagram
        a(href=routes.instagram)
            span
                <i class="fab fa-instagram"></i>
            |Continue With Instagram
    button.social-login--facebook
        a(href=routes.facebook)
            span
                <i class="fab fa-facebook"></i>
            |Continue With Facebook
            